.title {
  width: 100%;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  font-size: large;
  align-items: center;
  padding: 15px 8px;
  padding-top: 15px;
  color: whitesmoke;
  box-sizing: border-box;
  /* border: 2px solid black; */
}
.title__box {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  justify-content: flex-start;
}
.score {
  justify-content: flex-end;
}
.title__timer {
  display: flex;
  align-items: center;
}
.title__timer__img {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}
.thumbs {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: right;
  font-size: 1.3rem;
  box-sizing: border-box;
  z-index: 8;
}
#thumbsUp {
  color: #1c9954;
}
#thumbsDown {
  color: #e84545;
}
#thumbsUp,
#thumbsDown {
  cursor: pointer;
  padding-right: 10px;
  opacity: 0.6;
}
.quiz__content__text {
  z-index: 7;
}
.quiz__content__loading {
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: black;
  opacity: 0;
  z-index: 6;
  transition: opacity 0.25s;
}
.quiz__content__loading.quiz__content__loading__onshow {
  opacity: 0.5;
}

.quiz__content__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  opacity: 1;
  font-weight: 700;
  font-size: xx-large;
  margin-top: -100%;
  transition: margin-top 0.25s;
}

.quiz__content__text.quiz__content__text__onshow {
  margin-top: 0%;
}
.quiz__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz__form__answer {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 5px 0px;
  margin: 15px 0px;
  color: rgba(245, 245, 245, 0.9);
  border-bottom: 2px solid whitesmoke;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}
.quiz__form__answer::placeholder {
  text-align: center;
  color: rgba(245, 245, 245, 0.6);
}
.quiz__form__answer:focus::placeholder {
  color: transparent;
}
.quiz__form__answer:focus {
  outline: none;
  border-color: #2a4759;
}
.quiz__form__answer__incorrect:focus {
  outline: none;
  border-color: rgb(188, 62, 62);
}
.quiz__content__image__canvas {
  width: 95%;
  height: 100%;
}
.btn {
  background-color: #a8d5e2ff;
  cursor: pointer;
  width: 250px;
  padding: 6px 0px;
  margin-bottom: 7px;
  border: 1px solid #595959;
  border-radius: 10px;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #f8f5f1;
}
.btn:focus {
  outline: none;
}
.btn:active {
  background-color: #7b9ca6;
}
.pass {
  margin-bottom: 15px;
}
/* 모바일 반응형 */
@media screen and (max-width: 650px) {
  .title {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
  }
  .title__timer__img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .quiz__content__image__canvas {
    /*width: 95%;*/
    height: 100%;
  }
  .quiz__form__answer {
    /*width: 90%;*/
    width: 260px;
    margin: 5px 0px;
  }
  .submit {
    margin-top: 5px;
  }
}
@media screen and (max-width: 420px) {
  .quiz__content__image {
    height: 200px;
  }
  .thumbs {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2px;
    padding-right: 7px;
    width: 100%;
    text-align: right;
    font-size: 1.3rem;
    box-sizing: border-box;
    z-index: 8;
  }
  #thumbsUp,
  #thumbsDown {
    font-size: 1.1rem;
  }
  .title__score {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
