.title{
    width: 100%;
    display:flex;
    /*justify-content: space-between;*/
    font-size: x-large;
    align-items: center;
    padding: 7px 25px;
    padding-top: 15px;
    box-sizing:border-box;
    font-weight: 700;
    font-style: normal;
    color: whitesmoke;
    text-align: center;
}
.title_2{
  width: 100%;
  display:flex;
  font-size: large;
  align-items: center;
  text-align: center;
  padding: 15px 0px;
  color: whitesmoke;
  font-style: normal;
  font-weight: 700;
  }
  form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .btn__start {
    margin-top: 10px;
    width: 60%;
    background-color: #dbf9f0ff;
    cursor: pointer;
    width: 250px;
    padding: 6px 0px;
    margin-bottom: 7px;
    border: 1px solid #595959;
   /* border-radius: 10px;*/
    font-weight: 700;
    font-style: normal;
    font-size: medium;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition-duration: 0.4s;
  }
  .btn__start:hover {
    background-color: #f8f5f1;
  }
  .btn__start:focus {
    outline: none;
  }
  .btn__start:active {
    background-color: #7B9CA6;
  }
  
  @media screen and (max-width: 650px) {
    .title{
        padding: 7px 25px;
        width: 90%;
        font-size: large;
    }

    .submit{
        margin-top: 5px;
    }
  }


